<a href="https://colab.research.google.com/github/stlam2/IE517_S2023/blob/main/HW7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
Data = pd.read_csv("/content/drive/MyDrive/IE517_HW7/ccdefault.csv")
Data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [6]:
#Prepare(Split)training and testing data
x_values = Data.drop(columns = ["DEFAULT","ID"])
y_values = Data['DEFAULT']
x_train, x_test, y_train, y_test = train_test_split(x_values, y_values,test_size=0.1, random_state= 1)

Fit RD model with different n_estimators:

n = 200

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
RF0 = RandomForestClassifier(n_estimators=200)
accu = cross_val_score(RF0, x_train, y_train, cv=10)
in_sample_accu = accu.mean()
print(accu)
print(in_sample_accu)

[0.80888889 0.81444444 0.81703704 0.82111111 0.80518519 0.81592593
 0.81740741 0.82111111 0.81814815 0.82555556]
0.8164814814814815

n = 100

In [16]:
RF1 = RandomForestClassifier(n_estimators=100)
accu = cross_val_score(RF1, x_train, y_train, cv=10)
in_sample_accu = accu.mean()
print(accu)
print(in_sample_accu)

[0.80777778 0.81296296 0.82       0.82037037 0.80666667 0.82222222
 0.81518519 0.81777778 0.81740741 0.82518519]
0.8165555555555557

n = 50

In [11]:
RF2 = RandomForestClassifier(n_estimators=50)
accu = cross_val_score(RF2, x_train, y_train, cv=10)
in_sample_accu = accu.mean()
print(accu)
print(in_sample_accu)

[0.80777778 0.80555556 0.81222222 0.81296296 0.80777778 0.81777778
 0.80962963 0.82074074 0.81888889 0.82074074]
0.8134074074074075

n = 10

In [13]:
RF3 = RandomForestClassifier(n_estimators=10)
accu = cross_val_score(RF3, x_train, y_train, cv=10)
in_sample_accu = accu.mean()
print(accu)
print(in_sample_accu)

[0.79814815 0.79851852 0.8037037  0.80185185 0.79925926 0.79666667
 0.80481481 0.81296296 0.81037037 0.81962963]
0.8045925925925926

Feature importance

In [20]:
RF0.fit(x_train, y_train)
feature_importances = RF0.feature_importances_
print(feature_importances)

[0.06043613 0.01231772 0.02105826 0.01382579 0.06682409 0.09782913
 0.04247337 0.02743366 0.02449865 0.01960939 0.01756539 0.06020772
 0.054306   0.05203316 0.05085564 0.04991637 0.05072714 0.05159761
 0.04787865 0.04589412 0.04311033 0.04330647 0.04629522]

Honor Code

In [18]:
print("My name ShunTat Lam")
print("My NetID is: stlam2")
print("I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.")

My name ShunTat Lam
My NetID is: stlam2
I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.